//Variables
$body-bg: #eee;
$header-bg: #0b76c5;
$main-bg: #eee;
$footer-bg: #eee;
$header-font-color: #fff;
$border1: 0.1rem solid rgba(255,255,255,.1);
$border2: 0.2rem solid #DAB129;
$border3: 1px solid #eaeaea;;
$border-color1: #0b76c5;
$border-color2: #46d3bb;
$pickup-location-bg: #F3CE56;
$font-color: rgb(68, 68, 68);
$pickup-container-bg: #fff;
$items-list-bg: #fff;
$airport: #f2817f;
$city: #6eb8fa;
$region: #46d3bb;
$station: #9d9dbb;
$district: #70d58e;
$place: #ffa981;
$train: #fbb802;
$hover: #dff6ff;
$shadow: 0 0.2rem 0.2rem rgba(0,0,0,0.4);
$popular-bg: #ffffff;
$popular-border: #00874d;
$popupal-color: #00874d;
